<h2>Agent Details</h2>
<table class="table table-striped table-bordered" style="width: auto;">
	<tbody>
		<tr>
			<th>Agent Name:</th>
			<td class="agentName"><%= name %></td>
		</tr>
		<tr>
			<th>Training Concepts:</th>
			<td><%= concepts.join(', ') %></td>
		</tr>
	</tbody>
</table>