<div class="filter-field">
    <div class="input-preprend input-append control-group filter-contextmenu">
        <!--input type="text" data-items="6" class="span3" /-->
        <textarea id="peep" class="peepTextarea"> </textarea>
        <input type="checkbox" name="checkme" class="peepCheck"/>
    </div>   
    
</div>

