<div class="filter-field">
    <div class="input-preprend input-append control-group filter-contextmenu">
        <input type="text" data-items="6" class="span3"  />
       <input type="checkbox" name="checkme" class="peepCheck" style="margin-top: -16px;"/>
    </div>
    <div class="operand hide" >
        <label>and</label>
        <div class="input-preprend input-append control-group">
            <input type="text" data-items="7" class="span3 ageAdmission" />
        </div>
    </div> 
    
</div>


   