<div class="container">
    <div class="row">
        <div class="col-sm-12 page-header">
        </div>
		<p class="text-right">© 2017 Micro Focus</p>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-treeview.min.js"></script>
<script src="/js/bootstrap-dialog.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/trimScript.js"></script>
<script src="/js/plupload/plupload.full.min.js"></script>
<script>
    $(document).ready(function(){
        initiate();
		changeConfiguration();
    });
</script>
<script>

</script>
</body>
</html>