<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <!--Bootstrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-treeview.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-dialog.min.css" rel="stylesheet"/>
    <link href="/css/hp/typography.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
	<!--<link rel="icon" href="/images/favicon.ico">-->
</head>
<body screen_capture_injected="true">