<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Discover</display-name>
  <context-param>
    <param-name>spring.profiles.active</param-name>
    <param-value>default</param-value>
  </context-param>
  <context-param>
    <param-name>spring.profiles.default</param-name>
    <param-value>default</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.ajax</url-pattern>
    <url-pattern>*.json</url-pattern>
    <url-pattern>/resources/js/Autn/i18n.js</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>loginpage.do</welcome-file>
    <welcome-file>loginpageA.do</welcome-file>
  </welcome-file-list>
  <env-entry>
    <description>A DefaultFactory class which works with parallel deployment by not using File's toURL() method
        </description>
    <env-entry-name>sitemesh.factory</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>com.autonomy.sitemesh.FileFactory</env-entry-value>
  </env-entry>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>CAS Authentication Filter</filter-name>
    <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>casServerLoginUrl</param-name>
      <param-value>https://localhost/cas/login</param-value>
    </init-param>
    <init-param>
      <param-name>service</param-name>
      <param-value>http://localhost:8080/find-dev/login.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/nossoneededforthisthanks</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CAS Validation Filter</filter-name>
    <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>https://localhost/cas</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>http://localhost:8080</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/nossoneededforthisthanks</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <url-pattern>/nossoneededforthisthanks</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userFilter</filter-name>
    <url-pattern>/nossoneededforthisthanks</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Server Authentication Filter</filter-name>
    <filter-class>com.autonomy.web.security.filter.RedirectingAuthorizationFilter</filter-class>
    <init-param>
      <param-name>attributeName</param-name>
      <param-value>username</param-value>
    </init-param>
    <init-param>
      <param-name>redirectUrl</param-name>
      <param-value>/loginpage.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Server Authentication Filter</filter-name>
    <url-pattern>/p/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Server Admin Authentication Filter</filter-name>
    <filter-class>com.autonomy.web.security.filter.RedirectingAuthorizationFilter</filter-class>
    <init-param>
      <param-name>attributeName</param-name>
      <param-value>hca-admin</param-value>
    </init-param>
    <init-param>
      <param-name>redirectUrl</param-name>
      <param-value>/loginpage.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Server Admin Authentication Filter</filter-name>
    <url-pattern>/api/admin/*</url-pattern>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>