<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.name}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${log.file.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <!-- keep 10 days worth of history -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AuditAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.name}_audit.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- weekly rollover -->
            <fileNamePattern>${log.file.name}_audit.%d{yyyy-ww}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 20MB -->
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>5</maxHistory>
            <!-- keep 5 weeks worth of history -->
        </rollingPolicy>

        <encoder>
            <pattern>%d - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.autonomy" level="${log.level.autn}" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <logger name="com.autonomy.find.util.audit" level="info" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="AuditAppender"/>
    </logger>

    <logger name="org.springframework" level="${log.level.spring}" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <logger name="net.sf.ehcache" level="${log.level.ehcache}" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <root level="${log.level.root}">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="FileAppender" />
    </root>

</configuration>
